@charset "utf-8";
.layui-layout-admin .layui-logo{
    color: #5FB878;
}
.layui-layout-admin .layui-body{
    position: fixed;
    left: 200px;
}

.x-slide_left{
    width: 17px;
    height: 61px;
    background:  url(../img/icon.png) 0 0 no-repeat;
    position: absolute;
    top: 200px;
    left: 0px;
    cursor: pointer;
 }
.layui-layout-left{
    display: block;
}
.s-iframe{
    width: 100%;
    height: 100%;
}
.s-red{
    color: red;
}
.container{
    padding: 0 20px 20px 20px;
}
.s-nav{
    padding: 10px 20px 20px 20px;
    border-bottom: 1px solid #ccc;
}
.layui-elem-quote img{
    width: 50px;
    float: left;
}
.layui-elem-quote dl{
    margin-left: 80px;
    color: #019688;
}

.s-body{
    padding: 20px;
}
.layui-tab{
    height: 100%;
}
.layui-tab{
    margin: 0;
}
.layui-tab-item{
    height: 100%;
}
body .layui-layout-admin .site-demo{
    height: 100%;
}
.layui-tab-card{
    border: 0;
}
.layui-layout-admin .layui-body{
    bottom: 0;
}
.layui-form-item .layui-input-inline{
    width: 150px;
}
.s-right{
    float: right;
}
.login{
    max-width: 500px;
    background: #fff;
    margin: 7% auto;
    border-radius: 15px;

}
.login .header{
    background: #eee;
    border-radius: 15px 15px 0 0 ;
    height: 50px;
}
.login .header .headerRight{
    display: flex;
    justify-content: flex-end;
}   
.login .header .headerRight span{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 15px 5px;
    cursor: pointer;
}
.login .header .headerRight span:nth-of-type(1){
    background: #333; 
}
.login .header .headerRight span:nth-of-type(2){
    background-color:#019688;
}
.login .header .headerRight span:nth-of-type(3){
    background-color:#D3D916;
}
.login .loginBody{
    
}
.login .loginBody h1{
    font-size: 30px;
    text-align: center;
    height: 150px;
    line-height: 150px;
}
.login .loginBody .layui-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.login .loginBody .layui-container .loginAccount{
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    margin: 10px 0;
    border-bottom: 1px solid #ccc;
}
.login .loginBody .layui-container .loginAccount .icon{
    flex-grow: 1;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
}
.login .loginBody .layui-container .loginAccount .input{
    flex-grow: 3;
}
.login .loginBody .layui-container .loginAccount .input input{
    width: 100%;
    height: 40px;
    border: 0;
    font-size: 16px;
}
.login .footer{
    margin-top: 50px;
    height: 60px;
    border-radius: 0 0 15px 15px;
    background: #5FB878;
    cursor: pointer;
}
.login .footer:hover{
    opacity: 0.9;
}
.login .footer h1{
    text-align: center;
    line-height: 60px;
    font-size: 25px;
    color: #fff;
    letter-spacing: 10px;
}

 @media screen and (max-width:768px){
    .layui-layout-left{
        display: none;
    }
 }